:root{
    --darkblue-color: #233142;
    --lightblue-color: #455d7a;
    --highlight-color: #f95959;
    --light-color: #e3e3e3;
    --box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

@media(max-width: 576px){
    .nav-icon {
        margin: 20px;
    }
}

body{
    margin: 0 auto;
}

.background-image {
    height: 75vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("/img/backgroundfirstpage.jpg");
  }


  .main-picture {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

h1 {
    display: block;
    margin: 0 auto;
    padding: 140px 0 0 0 !important;
    font-family: 'Crimson Text', serif;
    text-align: center;
    font-weight: 600;
    font-size: 90px;
    color: var(--highlight-color);
}

h2 {
    display: block;
    margin-bottom: 60px;
    padding: 0 50px;
    font-family: 'Crimson Text', serif;
    font-size: 50px;
    font-weight: 200;
    text-align: center;
    color: var(--highlight-color);
}

h3 {
    display: block;
    margin: 0 auto;
    padding: 40px 0 80px 0 !important;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: var(--lightblue-color);
}

.navbar {
    background: white;
    box-shadow: var(--box-shadow);
}

.navbar-brand {
    color: var(--highlight-color);
}

.navbar-brand:hover{
    color: var(--darkblue-color);
}

.nav-link {
    color: var(--darkblue-color);
}

.navigation-links{
    display: flex;
    gap: 20px;
    padding: 40px 30px;
    justify-content: center;
}

.button-down{
    display: flex;
    justify-content: center;
    padding: 10px 50px 120px 50px;;
    color: var(--lightblue-color)!important;
    transition: all 400ms;
}

.button-down:hover{
    display: flex;
    justify-content: center;
    padding: 80px 50px 50px 50px;;
    color: var(--highlight-color)!important;
}

.button-down a:visited {
    color: var(--highlight-color)!important;
}

.navigation-boxes {
    display: block;
    margin: 0 auto;
    padding: 60px;
    background-color: var(--darkblue-color);
}

.bi-window-sidebar,
.bi-tools,
.bi-envelope-paper {
    display: flex;
    margin: 20px;
    justify-content: space-around;
    color: var(--light-color);
}

.nav-text{
    font-family: 'Poppins', sans-serif;
    color: var(--light-color);
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}

.about-me {
    margin: 0 auto;
    padding: 60px;
    background-color: var(--lightblue-color);
}

.pic-cindy {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    box-shadow: var(--box-shadow);
}

.about-text {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    color: var(--light-color);
    line-height: 1,5px;
    font-weight: 200;
}

.btn-outline-danger {
    display: block;
    margin: 0 auto;
    border-color: var(--highlight-color)!important;
    border-radius: 4px;
}

.btn-outline-danger:hover{
    background-color: var(--highlight-color)!important;
}

footer {
    display: flex;
    justify-content: center;
    padding: 50px auto;
    background-color: var(--lightblue-color);
}

.contact-me {
    display: flex;
    margin: 20px;
    flex-direction: row;
    gap: 40px;
    color: var(--darkblue-color);
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--highlight-color);
    cursor: pointer;
}

.portfolio {
    display: block;
    margin: 0 auto;
    padding: 60px;
    background-color: var(--darkblue-color);
}

h4 {
    padding-right: 0 30px;
    font-family: 'Crimson Text', serif;
    font-size: 30px;
    font-weight: 200;
    color: var(--highlight-color);
}

.case-one-text {
    padding-right: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: var(--light-color);
    line-height: 1,5px;
    font-weight: 200;
}

.case-one-image {
    margin-left: 100px;
    max-width: 400px;
    border-color: var(--highlight-color)!important;
}

.case-one-image:hover {
    opacity: 50%;
    cursor: pointer;
}


.case-two-text {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: var(--light-color);
    line-height: 1,5px;
    font-weight: 200;
}

.case-two-image {
    margin-left: 100px;
    max-width: 400px;
    border-color: var(--highlight-color)!important;
}

.case-two-image:hover {
    opacity: 50%;
    cursor: pointer;
}

.bi-arrow-right-circle {
    display: flex;
    padding-bottom: 50px;
    color: var(--darkblue-color);
}

.whats-next {
    display: block;
    margin: 0 auto;
    padding: 60px;
    background-color: var(--light-color);
}

.skills {
    display: block;
    margin: 0 auto;
    padding: 60px;
    background-color: var(--highlight-color);
}

.next-text{
    padding: 20px;
    color: var(--lightblue-color);
}

.skills-logo {
    padding: 30px;
}